@use '../../../colors';

.app-spinner-container {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: colors.$surface;
  z-index: 999;
}

.app-spinner {
  width: clamp(200px, 80%, 3000px);
}
