<div class="app-downloaded-container">
  <table mat-table [dataSource]="downloadedVersions">
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox></mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox></mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="version">
      <th mat-header-cell *matHeaderCellDef>Node.js Version</th>
      <td mat-cell *matCellDef="let nodeVersion">{{ nodeVersion.version }}</td>
    </ng-container>

    <ng-container matColumnDef="lts">
      <th mat-header-cell *matHeaderCellDef>LTS</th>
      <td mat-cell *matCellDef="let nodeVersion">{{ nodeVersion.lts }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns" class="app-downloaded-header-row"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>
  </table>
</div>
