<div class="table-container">
  <h2 class="table-title">Downloaded Node.js Versions</h2>

  <div class="table-scroll">
    <table mat-table [dataSource]="downloadedVersions">
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox [checked]="allAreSelected"
            [matTooltip]="selectAllTooltip()"
            matTooltipPosition="above"
            matTooltipShowDelay="1000"
            (change)="selectAllVersions()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let v">
          <mat-checkbox [checked]="isSelected(v)" (change)="selectVersion(v)"></mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="version">
        <th mat-header-cell *matHeaderCellDef>Node.js Version</th>
        <td mat-cell *matCellDef="let v">{{ v }}</td>
      </ng-container>

      <ng-container matColumnDef="current">
        <th mat-header-cell *matHeaderCellDef>Current</th>
        <td mat-cell *matCellDef="let v" style="color: green;">
          @if(v === currentVersion) {
            <mat-icon matTooltip="This is your current version."
              matTooltipPosition="right"
              aria-label="This is your current version.">
              task_alt
            </mat-icon>
          }
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columns; sticky: true;" class="table-header-row"></tr>
      <tr mat-row *matRowDef="let row; columns: columns;"></tr>
    </table>
  </div>

  <div class="table-buttons-container">
    @if(useButtonIsDisabled()) {
      <span class="disabled"
        [matTooltip]="useButtonTooltip()"
        matTooltipPosition="below"
        matTooltipShowDelay="1000">
        <button mat-flat-button disabled>Use</button>
      </span>
    }
    @else {
      <button mat-flat-button class="primary-button" (click)="useButtonClick()" (keyup.enter)="useButtonClick()">
        Use
      </button>
    }

    @if(removeButtonIsDisabled()) {
      <span class="disabled" matTooltip="Select at least one row to enable the remove button." matTooltipPosition="below" matTooltipShowDelay="1000">
        <button mat-flat-button disabled>Remove</button>
      </span>
    }
    @else {
      <button mat-flat-button class="app-downloaded-remove-button" (click)="removeButtonClick()" (keyup.enter)="removeButtonClick()">
        Remove
      </button>
    }
  </div>
</div>
