@if(showSpinner()) {
  <app-spinner [isLoading]="isLoading" (stopLoadingEmitter)="stopLoading()"></app-spinner>
}
@else {
  <div class="app-window">
    <div class="app-title-container">
      <h1 class="app-title">PolyNode</h1>
    </div>
    <div class="app-tables-container">
      <app-available [availableVersions]="availableVersions"
        [ltsVersions]="ltsVersions"
        (addButtonEmitter)="addButtonClick($event)"
        (searchButtonEmitter)="searchButtonClick($event)">
      </app-available>
      <app-downloaded [downloadedVersions]="downloadedVersions"
        [currentVersion]="currentVersion"
        (useButtonEmitter)="useButtonClick($event)"
        (removeButtonEmitter)="removeButtonClick($event)">
      </app-downloaded>
    </div>
  </div>
  <p class="app-version">{{ version }}</p>
}
