@use '../theme.scss' as theme;

.app-window {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.app-title-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.app-title {
  color: theme.$on-surface;
  font-weight: 500;
}

.app-tables-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.app-version {
  right: 1rem;
  bottom: 0.25rem;
  position: fixed;
  color: theme.$on-surface;
}
