$primary: #ab3424;
$on-primary: white;
$primary-container: #ffdad4;
$on-primary-container: #400100;
$secondary: #8d4d42;
$on-secondary: white;
$tertiary: #775a00;
$on-tertiary: white;
$surface: #fff8f6;
$surface-dim: #ecd5d1;
$on-surface: #251916;
$error: #ba1a1a;
$on-error: white;
