@use '../../../theme.scss' as theme;

.app-available-container {
  border: 0.125rem solid theme.$on-surface;
  color: theme.$on-surface;
  padding-top: 0.3rem;
  padding-right: 3rem;
  padding-bottom: 1rem;
  padding-left: 3rem;
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
